header{
  max-width: 1358px;
  padding-top: 34px;
}
.mob-nav{
  display: none;
  margin-bottom: 15px;
  .menu{
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: stretch;
    li{
      width: 16.6666%;
      height: 100%;
      a{
        display: block;
        width: 100%;
        height: 100%;
        background: #f0f1f6;
        position: relative;
        img{
          @include center();
        }
      }
    }
    li:first-child a{
      background: #3eade2;
    }
  }
}
// ---------------SEARCH--------------------------
.search{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 13px;
}
.search__left{
  display: flex;
  .logo-box{
    font-size: 14px;
    color: #747688;
    a{
      display: block;
      margin-bottom: 9px;
      img{
        width: 100%;
      }
    }
  }
  form{
    height: 40px;
    margin-left: 40px;
    position: relative;
    input{
      width: 496px;
      height: 100%;
      padding-left: 9px;
      padding-right: 30px;
      border-radius: 5px;
      border: 1px solid #b9b8bd;
      font-size: 14px;
      outline:none;
    }
    &::before{
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      background-image: url("../img/search.png");
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 8px;
    }
  }
}

.search__right{
  display: flex;
  align-items: center;
  margin-left: 90px;
  .phone-number{
    font-size: 23px;
    margin-right: 16px;
  }
  .timetable{
    font-size: 14px;
    div:first-child{
      color: #cb944c;
      margin-bottom: 4px;
    }
    div:last-child{
      color: #2b3056;
      white-space: nowrap;
    }
  }
}
// --------------/SEARCH--------------------------

.right__tablet{
  display: none;
}

// --------------NAVIGATION--------------
nav{
  padding: 15px 16px;
  border-top: 1px solid #dddfdf;
  border-bottom: 1px solid #dddfdf;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.nav__left{
  .menu{
    position: relative;
      & > li{
      margin-right: 20px;
      display: inline-flex;
      align-items: center;
      height: 17px;
      text-transform: uppercase;
      font-size: 16px;
      color: #000;
      font-weight: bold;
      cursor: pointer;       
       .catalog-wr{
         z-index: 9999;
         padding-top: 48px;
         position: absolute;
         display: none;
         top: 0;
         left: -16px;

         & > ul > li:not(.title):nth-child(1)::after, & > ul > li:nth-child(4)::after{
           content: '';
           display: inline-block;
           width: 7px;
           height: 11px;
           position: absolute;
           top: 50%;
           right: 17px;
           background-image: url("../img/arrow-right.png");
           transform: translateY(-50%);
           color: #cb944c;
         }

         & > ul{
           background: white;
           padding: 15px 0;
           min-width: 244px;
           border-radius: 4px;
           box-sizing: border-box;
           border: 1px solid #e9e9ea;

           li{
             display: flex;
             align-items: center;
             width: 100%;
             height: 35px;
             background: white;
             transition: background .2s;
             padding-left: 18px;
             padding-right: 40px;
             position: relative;

               a{
                 font-weight: 400;
                 text-transform: none;
                 font-size: 16px;
                 color: #666666;
               }
             &:nth-child(7){
               line-height: 17px;
             }

             &:not(.title):hover{
               background: #e9e9ea;
               transition: background .2s;
             }

             &:not(.title)::before{
               content: '';
               display: inline-block;
               width: 6px;
               height: 6px;
               background-image: url("../img/marker.png");
               margin-right: 10px;
               color: #cb944c;
             }

             &:nth-child(7)::before{
               margin-top: 6px;
               align-self: flex-start;
             }

             &.mens-accessories, &.wedding-accessories{
               position: relative;
               .mens-accessories-wr, .wedding-accessories-wr{
                 display: none;
                 position: absolute;
                 top: -15px;
                 left: 100%;
                 padding-left: 6px;

                 ul{
                   background: white;
                   min-width: 244px;
                   padding: 15px 0;
                   border-radius: 4px;
                   box-sizing: border-box;
                   border: 1px solid #e9e9ea;
                   .title{
                     font-size: 15px;
                     text-transform: uppercase;
                     color: #cb944c;
                     cursor: default;
                   }
                 }
               }
               .wedding-accessories-wr ul{
                 min-width: 260px;
               }
               &:hover .mens-accessories-wr, &:hover .wedding-accessories-wr{
                 display: block;
               }

             }
           }
         }
       }

       &:hover .catalog-wr{
         display: block;
       }
    }
  }
}
.catalog::before{
  content: '';
  display: inline-block;
  width: 16px;
  height: 12px;
  background-image: url("../img/menu.png");
  margin-right: 12px;
}
.catalog::after{
  content: '';
  display: inline-block;
  width: 11px;
  height: 7px;
  background-image: url("../img/arrow.png");
  margin-left: 7px;
}
.nav__right{
  display: flex;
  align-items: center;
  margin-left: 90px;
  .num{
    width: 20px;
    height: 20px;
    background: #cb944c;
    border-radius: 50%;
    font-weight: 600;
    margin-left: 12px;
    position: relative;
    span{
      color: white;
      font-weight: 600;
      @include center();
    }
  }
  .product{
    margin-left: 6px;
  }

  .product, .account{
    text-transform: uppercase;
    font-weight: 600;
    color: #2b3056;
    font-size: 16px;
  }

  .account{
    display: flex;
    align-items:center;
    margin-left: 20px;

    img{
      margin-right: 8px;
    }
  }
}
// --------------/NAVIGATION--------------
